Batch transform fails with character encoding error in local mode

**Describe the bug**
Running transformer in local mode fails with error

```
UnicodeEncodeError: 'latin-1' codec can't encode character '\u2026' in position 1268: Body ('…') is not valid Latin-1. Use body.encode('utf-8') if you want to send it encoded in UTF-8.
```

**To reproduce**
- train a model in BYOC mode (since error occurs before any code is called from the container, any model will do)
- create a transformer from trained estimator
- call transform on transformer

```
transformer = estimator.transformer(instance_count=1, instance_type='local')
path = 'file:///home/path-to-data/'
transformer.transform(
    path,
    content_type='application/json'
)
```

**Expected behavior**
No error

**Screenshots or logs**
```
---------------------------------------------------------------------------
UnicodeEncodeError                        Traceback (most recent call last)
<ipython-input-42-b434e4fff40b> in <module>
      1 transformer.transform(
      2     path,
----> 3     content_type='application/json'
      4 )

~/anaconda3/lib/python3.7/site-packages/sagemaker/transformer.py in transform(self, data, data_type, content_type, compression_type, split_type, job_name, input_filter, output_filter, join_source, experiment_config, model_client_config, wait, logs)
    212             join_source,
    213             experiment_config,
--> 214             model_client_config,
    215         )
    216 

~/anaconda3/lib/python3.7/site-packages/sagemaker/transformer.py in start_new(cls, transformer, data, data_type, content_type, compression_type, split_type, input_filter, output_filter, join_source, experiment_config, model_client_config)
    364             model_client_config,
    365         )
--> 366         transformer.sagemaker_session.transform(**transform_args)
    367 
    368         return cls(transformer.sagemaker_session, transformer._current_job_name)

~/anaconda3/lib/python3.7/site-packages/sagemaker/session.py in transform(self, job_name, model_name, strategy, max_concurrent_transforms, max_payload, env, input_config, output_config, resource_config, experiment_config, tags, data_processing, model_client_config)
   2420         LOGGER.info("Creating transform job with name: %s", job_name)
   2421         LOGGER.debug("Transform request: %s", json.dumps(transform_request, indent=4))
-> 2422         self.sagemaker_client.create_transform_job(**transform_request)
   2423 
   2424     def _create_model_request(

~/anaconda3/lib/python3.7/site-packages/sagemaker/local/local_session.py in create_transform_job(self, TransformJobName, ModelName, TransformInput, TransformOutput, TransformResources, **kwargs)
    232         transform_job = _LocalTransformJob(TransformJobName, ModelName, self.sagemaker_session)
    233         LocalSagemakerClient._transform_jobs[TransformJobName] = transform_job
--> 234         transform_job.start(TransformInput, TransformOutput, TransformResources, **kwargs)
    235 
    236     def describe_transform_job(self, TransformJobName):

~/anaconda3/lib/python3.7/site-packages/sagemaker/local/entities.py in start(self, input_data, output_data, transform_resources, **kwargs)
    314 
    315         # run the batch inference requests
--> 316         self._perform_batch_inference(input_data, output_data, **kwargs)
    317         self.end_time = datetime.datetime.now()
    318         self.state = self._COMPLETED

~/anaconda3/lib/python3.7/site-packages/sagemaker/local/entities.py in _perform_batch_inference(self, input_data, output_data, **kwargs)
    478                     # call the container and add the result to inference.
    479                     response = self.local_session.sagemaker_runtime_client.invoke_endpoint(
--> 480                         item, "", input_data["ContentType"], accept
    481                     )
    482 

~/anaconda3/lib/python3.7/site-packages/sagemaker/local/local_session.py in invoke_endpoint(self, Body, EndpointName, ContentType, Accept, CustomAttributes, TargetModel, TargetVariant)
    457             headers["X-Amzn-SageMaker-Target-Variant"] = TargetVariant
    458 
--> 459         r = self.http.request("POST", url, body=Body, preload_content=False, headers=headers)
    460 
    461         return {"Body": r, "ContentType": Accept}

~/anaconda3/lib/python3.7/site-packages/urllib3/request.py in request(self, method, url, fields, headers, **urlopen_kw)
     78         else:
     79             return self.request_encode_body(
---> 80                 method, url, fields=fields, headers=headers, **urlopen_kw
     81             )
     82 

~/anaconda3/lib/python3.7/site-packages/urllib3/request.py in request_encode_body(self, method, url, fields, headers, encode_multipart, multipart_boundary, **urlopen_kw)
    169         extra_kw.update(urlopen_kw)
    170 
--> 171         return self.urlopen(method, url, **extra_kw)

~/anaconda3/lib/python3.7/site-packages/urllib3/poolmanager.py in urlopen(self, method, url, redirect, **kw)
    334             response = conn.urlopen(method, url, **kw)
    335         else:
--> 336             response = conn.urlopen(method, u.request_uri, **kw)
    337 
    338         redirect_location = redirect and response.get_redirect_location()

~/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py in urlopen(self, method, url, body, headers, retries, redirect, assert_same_host, timeout, pool_timeout, release_conn, chunked, body_pos, **response_kw)
    675                 body=body,
    676                 headers=headers,
--> 677                 chunked=chunked,
    678             )
    679 

~/anaconda3/lib/python3.7/site-packages/urllib3/connectionpool.py in _make_request(self, conn, method, url, timeout, chunked, **httplib_request_kw)
    390             conn.request_chunked(method, url, **httplib_request_kw)
    391         else:
--> 392             conn.request(method, url, **httplib_request_kw)
    393 
    394         # Reset the timeout for the recv() on the socket

~/anaconda3/lib/python3.7/http/client.py in request(self, method, url, body, headers, encode_chunked)
   1242                 encode_chunked=False):
   1243         """Send a complete request to the server."""
-> 1244         self._send_request(method, url, body, headers, encode_chunked)
   1245 
   1246     def _send_request(self, method, url, body, headers, encode_chunked):

~/anaconda3/lib/python3.7/http/client.py in _send_request(self, method, url, body, headers, encode_chunked)
   1287             # RFC 2616 Section 3.7.1 says that text default has a
   1288             # default charset of iso-8859-1.
-> 1289             body = _encode(body, 'body')
   1290         self.endheaders(body, encode_chunked=encode_chunked)
   1291 

~/anaconda3/lib/python3.7/http/client.py in _encode(data, name)
    168             "%s (%.20r) is not valid Latin-1. Use %s.encode('utf-8') "
    169             "if you want to send it encoded in UTF-8." %
--> 170             (name.title(), data[err.start:err.end], name)) from None
    171 
    172 

UnicodeEncodeError: 'latin-1' codec can't encode character '\u2026' in position 1268: Body ('…') is not valid Latin-1. Use body.encode('utf-8') if you want to send it encoded in UTF-8.

```
**System information**
A description of your system. Please provide:
- **SageMaker Python SDK version**: 2.24.5
- **Framework name (eg. PyTorch) or algorithm (eg. KMeans)**: BYOC
- **Framework version**:
- **Python version**: 3.7.4
- **CPU or GPU**: CPU but not applicable
- **Custom Docker image (Y/N)**: Y

**Additional context**
Add any other context about the problem here.


Hey @oleg131,

Thanks for bringing this issue to our attention.

This looks similar to: https://github.com/psf/requests/issues/1822

It looks the encoding when making the request needs to be updated here: https://github.com/aws/sagemaker-python-sdk/blob/35c8ce360935d9f11650ee673c9ad23f5171ed12/src/sagemaker/local/local_session.py#L472

Would you happen to have a minimal repro case we can test against?

Sorry, the data used to reproduce this is proprietary. But yeah, when I was debugging this, the error came from the encoding in the POST request.